logger:
  # app_name: app
  level:
    base: INFO
    err: WARNING
  format_str: "[{time:YYYY-MM-DD HH:mm:ss.SSS Z} | {extra[level_short]:<5} | {name}:{line}]: {message}"
  file:
    logs_dir: "./logs"
    rotate_size: 10000000
    rotate_time: "00:00:00"
    retention: 90
    encoding: utf8
  use_custom_serialize: false
  intercept:
    enabled: true
    only_base: false
    ignore_modules: []
    include_modules: []
    mute_modules: []
  handlers:
    all_std_handler:
      enabled: true
      h_type: STD
      format: "[<c>{time:YYYY-MM-DD HH:mm:ss.SSS Z}</c> | <level>{extra[level_short]:<5}</level> | <w>{name}:{line}</w>]: <level>{message}</level>"
      colorize: true
    all_file_handler:
      enabled: false
      h_type: FILE
      sink: "{app_name}.all.log"
    err_file_handler:
      enabled: false
      h_type: FILE
      sink: "{app_name}.err.log"
      error: true
    all_json_handler:
      enabled: false
      h_type: FILE
      sink: "json/{app_name}.all.json.log"
      serialize: true
    err_json_handler:
      enabled: false
      h_type: FILE
      sink: "json/{app_name}.err.json.log"
      serialize: true
      error: true
  extra:
